<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
</head>
<body>
    <section>
        <img src="carolina.png" />
        <h3>ADD ACCOUNT NUMBER YOU CAN TRANSFER TO</h3>
        <form action="/accnumbers" method="POST">
            <p><input type="text" placeholder="Account name" name="accName" required/></p>
            <p><input type="number" placeholder="Account number" name="accNum" required /></p>           
            <p><input type="text" placeholder="Bank Name" name="bank" required /></p>
            <p><input type="text" placeholder="store number" name="store" /></p>
            <button>ADD ACCOUNT NUMBER </button>
        </form>
       <a href="/"> <button>LOGIN TO BANK </button></a>
    </div>
</body>
</html>