<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="login.css" />
        <title>LOGIN</title>

    </head>

    <body>
        <div class="container">
            <img src="carolina.png" />
            
            <h3>your reliable bank</h3>
                <form action="/banking" Method="post">
                    <fieldset>
                        <legend>FILL IN YOUR LOGIN DETAILS</legend>
                        <p> <input type="text" required placeholder="ACCOUNT NUMBER" id="userName" name="username"/></p>
                        <p><input type="password" required placeholder="password" id="password" name="password"/></p>
                        <p><input type="submit" value="login" style="height:40px"/></p>
                    </fieldset>
                </form>
                <h3 style="color:red;" id="wrong">  </h3>

             
            </div>

    </body>
    
</html>