<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="login.css" />
        <title>LOGIN</title>

    </head>

    <body>
        <div class="container">
            <img src="carolina.png" />
            
            <h3>your reliable bank</h3>
                <form id="formD">
                    <fieldset>
                        <legend>FILL IN YOUR LOGIN DETAILS</legend>
                        <p> <input type="password" required placeholder="Old Password" name="old" id="old"/></p>
                        <p><input type="password" required placeholder="new password" id="password" name="newP" id="password"/></p>
                        <p><input type="password" required placeholder="comfrim password" id="cpassword" name="newC" id="cpassword"/></p>
                        <p><button>Create New Password</button></p>
                    </fieldset>
                </form>
                <h3 style="color:red;" id="wrong">  </h3>

             
            </div>

            <script>
            //let password = document.getElementById('password');
            let password = document.getElementById('cpassword');
            password.oninput = ()=>{
                let first = document.getElementById('password').value
                let second = password.value;
                if(first != second){
                    password.style.borderColor = 'red'
                    password.style.outlineColor = 'red'
                    document.getElementById('password').style.borderColor = 'red'
                }
                else{
                     password.style.borderColor = 'green'
                     password.style.outlineColor = 'green'
                     document.getElementById('password').style.borderColor = 'green'
                }
            }

            let formInfo = document.getElementById('formD')
            formInfo.onsubmit = async (e)=>{
                e.preventDefault()
                    const form = new FormData(formInfo);
                    const data = Object.fromEntries(form.entries());
                try{
                    let respond = await fetch('/reset-passwowrd', {
                        method: 'PATCH', 
                        headers:{
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })
                    if(respond.ok){
                        const successMessage = document.createElement('div');
                        successMessage.textContent = 'Password updated successfully!';
                        successMessage.style.color = 'green';
                        successMessage.style.fontSize = '18px';
                        successMessage.style.marginBottom = '20px';
                        document.body.appendChild(successMessage); 
                        setTimeout(()=>{
                            window.location.href = '/login'
                        }, 2000)
                    }
                    else{
                        res = await respond.json()
                        document.getElementById('old').style.borderColor = 'red'
                        alert(res)

                    }
                }
                catch(err){
                    console.log(err)
                }
            }
            </script>

    </body>
    
</html>