<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
</head>
<body>
    <section>
        <img src="carolina.png" />
        <h3>CREATE ACCOUNT CAROLINA BANK</h3>
        <form action="/signUp" method="POST">
            <p><input type="text" placeholder="Account name" name="userName" required/></p>
            <p><input type="email" placeholder="email" name="email" require="require" /></p>
            <p><input type="number" placeholder="Account number" name="accNum" required /></p>
            <p><input type="text" placeholder="Account balance" name="accBal" required /></p>
                <input type="file" placeholder="profile picture" name="picture"  />
            <p><input type="password" placeholder="password" name="password" required /></p>
            <button>Create Account </button>
        </form>
    </div>
</body>
</html>